<app-menu></app-menu>
<div class="container justify-content-center">
  <div class="card">
    <div class="card-header">
      <h3>Gestión de gastos</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="spentCreateForm" (ngSubmit)="createSpent()">
        <div class="form-group" style="margin: 5px;">
          <label for="title">Titulo</label>
          <input type="text"
                 id="title"
                 formControlName="title"
                 class="form-control">
          <div *ngIf="spentCreateForm.get('title')?.hasError('required') && spentCreateForm.get('title')?.touched">
            El título es un campo requerido
          </div>
        </div>
        <div class="form-group" style="margin: 5px;">
          <label for="description">Descripción</label>
          <input type="text"
                 id="description"
                 formControlName="description"
                 class="form-control">
          <div *ngIf="spentCreateForm.get('description')?.hasError('required') && spentCreateForm.get('description')?.touched">
            La descripcion es un campo requerido
          </div>
        </div>
        <div class="form-group" style="margin: 5px;">
          <label for="description">Precio</label>
          <input type="number"
                 id="totalPrice"
                 formControlName="totalPrice"
                 class="form-control">
          <div *ngIf="spentCreateForm.get('totalPrice')?.hasError('required') && spentCreateForm.get('totalPrice')?.touched">
            El precio es un campo requerido
          </div>
        </div>
        <div class="form-group" style="margin: 5px;">
          <button type="submit" [disabled]="!spentCreateForm.valid"  class="btn btn-primary btn-lg btn-block">Añadir Gasto</button>
          <button type="button" class="btn btn-danger btn-lg btn-block" style="margin: 13px;" routerLink="/inicio">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <p></p>
  <div class="card">
    <div class="card-header"><h3>Gastos de la vivienda</h3></div>
    <div class="card-body">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Precio Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let spent of spents">
            <td>{{ spent.title }}</td>
            <td>{{ spent.description }}</td>
            <td>{{ spent.totalPrice}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
