<app-menu></app-menu>
<div class="container justify-content-center">
  <div class="card">
    <div class="card-header">
      <h1>{{ user.firstName }}</h1>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="card" style="width: 500px">
          <div class="card-body">
            <div id="contenedor">
              <div>
                <p>
                  <figure>
                    <img src="./assets/perfil.png" alt="..." width="200px" />
                  </figure>
                </p>
              </div>
              <div>
                <p>
                  <strong>
                    {{ user.firstName }}
                  {{ user.lastName }}
                  <br />
                  {{ user.email }}
                  <br />
                </strong>
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div *ngIf="isAdmin && homes.length > 0">
          <div class="card">
            <div class="card-header">
              <h1>Viviendas</h1>
            </div>
            <div class="card-body card-deck mt-3">
              <div *ngFor="let home of homes">
                <label>
                  <div class="card" style="width: 200px; text-align: center">
                    <center>
                      <img
                        class="card-img-top"
                        src="./assets/vivienda-logo.jpg"
                        style="width: 150px"
                      />
                    </center>
                    <div class="card-body">
                      <h5 class="card-title">{{ home.address }}</h5>
                      <p class="card-text">{{ home.city }}</p>
                      <a
                        routerLink="/vivienda/{{ home.id }}"
                        class="btn btn-warning"
                        >Ver</a
                      >
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Invitaciones al usuario a una vivienda -->
        <div *ngIf="!isAdmin && invitations.length !== 0">
          <div class="card">
            <div class="card-header">
              <h1>Invitaciones</h1>
            </div>
            <div class="card-body">
              <div *ngFor="let invitation of invitations">
                <label>
                  <div class="card">
                    <div class="card-body" style="width: 500px">
                      <div *ngFor="let mapValue of mapIdHomeAddress | keyvalue">
                        <div *ngIf="invitation.idHome === mapValue.key">
                          {{ mapValue.value }}
                          <label>
                            <button
                              id="btn"
                              style="margin-right: 10px; margin-left: 10px"
                              class="btn btn-success"
                              (click)="copyToClipBoard(invitation.homeCode)"
                            >
                              <i class="bi bi-clipboard"></i> Código de acceso
                            </button>
                            <button
                              type="button"
                              class="btn btn-primary"
                              (click)="openPopup()"
                            >
                              <i class="bi bi-check2"></i>Aceptar
                            </button>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </label>
                <!-- INTEROR DEL MODAL -->
                <div
                  class="modal"
                  tabindex="-1"
                  role="dialog"
                  [ngStyle]="{ display: displayStyle }"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">
                          ¿Quieres unirte a esta vivienda?
                        </h4>
                      </div>
                      <div class="modal-body">
                        <p>
                          Al aceptar tendrás acceso a la información de la
                          vivienda pero los demás inquilinos y el propietario
                          tambíen podrán acceder a tus datos
                        </p>
                        <div>
                          <form
                            [formGroup]="acceptInvitationForm"
                            (ngSubmit)="
                              sendConfirmationInvitation(invitation.idHome)
                            "
                            novalidate
                          >
                            <div class="form-group" style="margin: 5px">
                              <label for="homeCode"
                                >Código de la vivienda</label
                              >
                              <input
                                type="password"
                                name="homeCode"
                                id="homeCode"
                                class="form-control"
                                formControlName="homeCode"
                                required
                              />
                              <div
                                *ngIf="
                                  acceptInvitationForm
                                    .get('homeCode')
                                    ?.hasError('homeCode') &&
                                  acceptInvitationForm.get('homeCode')?.touched
                                "
                              >
                                El nombre de usuario es un campo requerido
                              </div>
                            </div>
                            <!--CREAR FORMULARIO PARA INTRODUCIR EL CÓDIGO DE LA VIVIENDA -->
                            <div class="form-group" style="margin: 5px">
                              <button
                                class="btn btn-success"
                                [disabled]="!acceptInvitationForm.valid"
                              >
                                Confirmar
                              </button>
                              <button
                                style="margin: 10px"
                                type="button"
                                class="btn btn-danger"
                                (click)="closePopup()"
                              >
                                Cerrar
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isAdmin && invitations.length == 0 && homes.length > 0">
          <div class="card">
            <div class="card-header">
              <h1>Vivienda</h1>
            </div>
            <div class="card-body">
              <div *ngFor="let home of homes">
                <label>
                  <div class="card" style="width: 200px; text-align: center">
                    <center>
                      <img
                        class="card-img-top"
                        src="./assets/vivienda-logo.jpg"
                        style="width: 150px"
                      />
                    </center>
                    <div class="card-body">
                      <h5 class="card-title">{{ home.address }}</h5>
                      <p class="card-text">{{ home.city }}</p>
                      <a
                        routerLink="/vivienda/{{ home.id }}"
                        class="btn btn-warning"
                        >Ver</a
                      >
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
