<p></p>
<div class="card">
  <div class="card-header"><h3><i><strong>Gastos</strong></i></h3></div>
  <div class="card-body">
    <!-- Sin spents-->
    <div *ngIf="spents.length == 0">
      <div align="center">
        <strong>
          <i>Sin información de gastos</i>
        </strong>
      </div>
    </div>
    <!-- Con spents-->
    <div *ngIf="spents.length > 0">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Total a pagar</th>
            <th>Informacion de la deuda</th>
            <th>¿Deudas pagadas?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let spent of spents">
            <td>{{ spent.title }}</td>
            <td>{{ spent.description }}</td>
            <td>{{ spent.totalPrice }}</td>
            <td>
              <button
                type="button"
                (click)="getDebtsById(spent.id)"
                class="btn btn-success"
              >
                Deuda
              </button>
            </td>
            <td>
              <div *ngIf="!spent.paid">
                <button type="button" class="btn btn-danger" disabled>
                  Sin pagar
                </button>
              </div>
              <div *ngIf="spent.paid">
                <button type="button" class="btn btn-warning" disabled>
                  Todo pagado
                </button>
              </div>
            </td>
            <div
              class="modal"
              tabindex="-1"
              role="dialog"
              [ngStyle]="{ display: displayStyleA }"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Información de los deudores</h4>
                  </div>
                  <div class="modal-body">
                    <div *ngFor="let debtInfo of debtsInfo">
                      <div class="card bg-light mb-3">
                        <div class="card-body">
                          <div class="card-text">
                            <div *ngIf="debtInfo.paid">
                              <p>
                                <button
                                  type="button"
                                  class="btn btn-success"
                                  disabled
                                >
                                  Pagado
                                </button>
                                <strong> {{ debtInfo.user.username }} </strong>
                              </p>
                            </div>
                            <div *ngIf="!debtInfo.paid">
                              <button
                                type="button"
                                class="btn btn-warning"
                                disabled
                              >
                                No pagado
                              </button>
                              <strong> {{ debtInfo.user.username }}</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="closePopupA()"
                      >
                        Cerrar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
