<app-menu></app-menu>
<div class="container justify-content-center">
  <div class="card">
    <div class="card-header">
      <h5>
        <i><strong>Solicitud de nueva contraseña</strong></i>
      </h5>
    </div>
    <div class="card-body">
      <div class="textCenter">
        Introduce el correo electrónico que tienes asociado a tu cuenta de
        usuario, recibiras un correo electrónico con tu nueva contraseña,
        asegurate de actualizarla una vez que hayas entrado.
      </div>
      <p></p>
      <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
        <label for="email">Correo Electrónico</label>
        <input
          class="form-control"
          id="email-password-recovery"
          type="email"
          formControlName="email"
          placeholder="Introduce tu correo electrónico"
        />
        <div *ngIf="passwordRecoveryForm.get('email')?.hasError('required') && passwordRecoveryForm.get('email')?.touched">
            Es necesario un correco electrónico
        </div>
        <div *ngIf="passwordRecoveryForm.get('email')?.hasError('email') && passwordRecoveryForm.get('email')?.touched">
            El correo tiene un formato incorrecto
          </div>
        <p></p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
      </form>
      <div *ngIf="errorMessage !== ''">
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          {{ errorMessage }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div *ngIf="successMessage !== ''">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ successMessage }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
