<app-menu></app-menu>
<div class="container justify-content-center">
  <div class="card">
    <div class="card-header">
      <h5>
        <i><strong>Actualización de la contraseña</strong></i>
      </h5>
    </div>
    <div class="card-body">
      <div class="textCenter">
        Introduce el correo electrónico, tu contraseña actual y la nueva contraseña.
      </div>
      <form [formGroup]="passwordUpdateForm" (ngSubmit)="onSubmit()">
        <label for="email">Correo Electrónico</label>
        <input
          class="form-control"
          id="email-password-recovery"
          type="email"
          formControlName="email"
          placeholder="Introduce tu correo electrónico"
        />
        <div *ngIf="passwordUpdateForm.get('email')?.hasError('required') && passwordUpdateForm.get('email')?.touched">
            Es necesario un correco electrónico
        </div>
        <div *ngIf="passwordUpdateForm.get('email')?.hasError('email') && passwordUpdateForm.get('email')?.touched">
            El correo tiene un formato incorrecto
          </div>
        <p></p>
        <label for="email">Contraseña Actual</label>
        <input
          class="form-control"
          id="actual-password-password-recovery"
          type="password"
          formControlName="actualPassword"
          placeholder="Introduce tu contraseña actual"
        />
        <div *ngIf="passwordUpdateForm.get('actualPassword')?.hasError('required') && passwordUpdateForm.get('actualPassword')?.touched">
            Es necesario que indiques tu contraseña actual
        </div>
        <p></p>
        <label for="email">Nueva Contraseña</label>
        <input
          class="form-control"
          id="new-password-password-recovery"
          type="password"
          formControlName="newPassword"
          placeholder="Introduce tu nueva contraeña"
        />
        <div *ngIf="passwordUpdateForm.get('newPassword')?.hasError('required') && passwordUpdateForm.get('newPassword')?.touched">
            Es necesario que indiques una nueva contraseña
        </div>
        <p></p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
      </form>
      <div *ngIf="errorMessage !== ''">
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          {{ errorMessage }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div *ngIf="successMessage !== ''">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ successMessage }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
